body,
h1,
h2,
h3,
p,
a,
button {
    font-family: 'Roboto Condensed', 'Mplus 1p', sans-serif !important;
}





/* HEADER ==================================================================== */

#HEADER_134 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 11em;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: 100%;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 909.5px 105.938px;
    transform-origin: 909.5px 105.938px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 16px / 22.8571px "Roboto Condensed", sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 22px 25px 0px;
}


header#mobile-header {
    display: none;
}




/*#HEADER_134*/

#DIV_1 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 123.891px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    /* width: 1799px; */
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 899.5px 61.9375px;
    transform-origin: 899.5px 61.9375px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 16px / 22.8571px "Roboto Condensed", sans-serif;
    margin: 0;
    outline: rgb(51, 51, 51) none 0px;
}




/*#DIV_1*/

#DIV_2 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: 1799px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 899.5px 0px;
    transform-origin: 899.5px 0px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 16px / 22.8571px "Roboto Condensed", sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}




/*#DIV_2*/

#DIV_3 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    height: 123.891px;
    left: 0px;
    min-height: 1px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    top: 0px;
    width: 1199.33px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 599.656px 61.9375px;
    transform-origin: 599.656px 61.9375px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 16px / 22.8571px "Roboto Condensed", sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 15px;
}




/*#DIV_3*/

#H2_4 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 51.8906px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    vertical-align: middle;
    width: auto;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 163.703px 25.9375px;
    transform-origin: 163.703px 25.9375px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 500 normal 30px / 33px "Roboto Condensed", sans-serif;
    margin: 0px 0px 30px;
    outline: rgb(51, 51, 51) none 0px;
}




/*#H2_4*/

.A_5 {
    box-sizing: border-box;
    color: rgb(51, 122, 183);
    text-decoration: none solid rgb(51, 122, 183);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 122, 183);
    caret-color: rgb(51, 122, 183);
    border: 0px none rgb(51, 122, 183);
    font: normal normal 500 normal 30px / 33px "Roboto Condensed", sans-serif;
    outline: rgb(51, 122, 183) none 0px;
}




/*#A_5*/

#IMG_6 {
    box-sizing: border-box;
    color: rgb(51, 122, 183);
    cursor: pointer;
    display: block;
    height: 51.8906px;
    max-width: 100%;
    text-decoration: none solid rgb(51, 122, 183);
    text-size-adjust: 100%;
    vertical-align: middle;
    width: 327.406px;
    column-rule-color: rgb(51, 122, 183);
    perspective-origin: 163.703px 25.9375px;
    transform-origin: 163.703px 25.9375px;
    caret-color: rgb(51, 122, 183);
    border: 0px none rgb(51, 122, 183);
    font: normal normal 500 normal 30px / 33px "Roboto Condensed", sans-serif;
    outline: rgb(51, 122, 183) none 0px;
}




/*#IMG_6*/

#DIV_7 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline;
    /* height: auto; */
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    vertical-align: -30%;
    width: auto;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    /* border: 0px none rgb(51, 51, 51); */
    font: normal normal 300 normal 12px / 17.1428px "Roboto Condensed", sans-serif;
    margin: 0px 0px 0px 22px;
    /* outline: rgb(51, 51, 51) none 0px; */
}




/*#DIV_7*/

#P_8 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline;
    height: auto;
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 12px / 21.6px "Roboto Condensed", sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(51, 51, 51) none 0px;
}




/*#P_8*/

#UL_9 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 42px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
   /*  width: 1169.33px; */
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 584.656px 21px;
    transform-origin: 584.656px 21px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 18px / 25.7143px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    margin: 0px 0px 20px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}




/*#UL_9*/

ul#UL_9>li {
    width: auto;
}

#LI_10 {
    box-sizing: border-box;
    color: rgb(14, 147, 210);
    display: inline-block;
    height: 42px;
    text-decoration: none solid rgb(14, 147, 210);
    text-size-adjust: 100%;
    width: 148.688px;
    column-rule-color: rgb(14, 147, 210);
    perspective-origin: 74.3438px 21px;
    transform-origin: 74.3438px 21px;
    caret-color: rgb(14, 147, 210);
    border-top: 0px none rgb(14, 147, 210);
    border-right: 0px none rgb(14, 147, 210);
    border-bottom: 4px solid rgb(57, 197, 216);
    border-left: 0px none rgb(14, 147, 210);
    font: normal normal 300 normal 18px / 25.7143px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    margin: 0px 8px 0px 0px;
    outline: rgb(14, 147, 210) none 0px;
    padding: 5px 10px 8px 0px;
}




/*#LI_10*/

#A_11,
#A_13,
#A_15,
#A_17,
#A_19,
#A_21 {
    box-sizing: border-box;
    color: rgb(14, 147, 210);
    text-align: left;
    text-decoration: none solid rgb(14, 147, 210);
    text-size-adjust: 100%;
    column-rule-color: rgb(14, 147, 210);
    caret-color: rgb(14, 147, 210);
    border: 0px none rgb(14, 147, 210);
    font: normal normal 300 normal 18px / 25.7143px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    outline: rgb(14, 147, 210) none 0px;
}




/*#A_11, #A_13, #A_15, #A_17, #A_19, #A_21*/

#LI_12 {
    box-sizing: border-box;
    color: rgb(14, 147, 210);
    display: inline-block;
    height: 38px;
    text-decoration: none solid rgb(14, 147, 210);
    text-size-adjust: 100%;
    width: 160.969px;
    column-rule-color: rgb(14, 147, 210);
    perspective-origin: 80.4844px 19px;
    transform-origin: 80.4844px 19px;
    caret-color: rgb(14, 147, 210);
    border: 0px none rgb(14, 147, 210);
    font: normal normal 300 normal 18px / 25.7143px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    margin: 0px 8px 0px 0px;
    outline: rgb(14, 147, 210) none 0px;
    padding: 5px 10px 8px;
}




/*#LI_12*/

#LI_14 {
    box-sizing: border-box;
    color: rgb(14, 147, 210);
    display: inline-block;
    height: 38px;
    text-decoration: none solid rgb(14, 147, 210);
    text-size-adjust: 100%;
    width: 144.312px;
    column-rule-color: rgb(14, 147, 210);
    perspective-origin: 72.1562px 19px;
    transform-origin: 72.1562px 19px;
    caret-color: rgb(14, 147, 210);
    border: 0px none rgb(14, 147, 210);
    font: normal normal 300 normal 18px / 25.7143px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    margin: 0px 8px 0px 0px;
    outline: rgb(14, 147, 210) none 0px;
    padding: 5px 10px 8px;
}




/*#LI_14*/

#LI_16 {
    box-sizing: border-box;
    color: rgb(14, 147, 210);
    display: inline-block;
    height: 38px;
    text-decoration: none solid rgb(14, 147, 210);
    text-size-adjust: 100%;
    width: 139.031px;
    column-rule-color: rgb(14, 147, 210);
    perspective-origin: 69.5156px 19px;
    transform-origin: 69.5156px 19px;
    caret-color: rgb(14, 147, 210);
    border: 0px none rgb(14, 147, 210);
    font: normal normal 300 normal 18px / 25.7143px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    margin: 0px 8px 0px 0px;
    outline: rgb(14, 147, 210) none 0px;
    padding: 5px 10px 8px;
}




/*#LI_16*/

#LI_18 {
    box-sizing: border-box;
    color: rgb(14, 147, 210);
    display: inline-block;
    height: 38px;
    text-decoration: none solid rgb(14, 147, 210);
    text-size-adjust: 100%;
    width: 86.125px;
    column-rule-color: rgb(14, 147, 210);
    perspective-origin: 43.0625px 19px;
    transform-origin: 43.0625px 19px;
    caret-color: rgb(14, 147, 210);
    border: 0px none rgb(14, 147, 210);
    font: normal normal 300 normal 18px / 25.7143px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    margin: 0px 8px 0px 0px;
    outline: rgb(14, 147, 210) none 0px;
    padding: 5px 10px 8px;
}




/*#LI_18*/

#LI_20 {
    box-sizing: border-box;
    color: rgb(14, 147, 210);
    display: inline-block;
    height: 38px;
    text-decoration: none solid rgb(14, 147, 210);
    text-size-adjust: 100%;
    width: 70.5625px;
    column-rule-color: rgb(14, 147, 210);
    perspective-origin: 35.2812px 19px;
    transform-origin: 35.2812px 19px;
    caret-color: rgb(14, 147, 210);
    border: 0px none rgb(14, 147, 210);
    font: normal normal 300 normal 18px / 25.7143px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    margin: 0px 8px 0px 0px;
    outline: rgb(14, 147, 210) none 0px;
    padding: 5px 10px 8px;
}




/*#LI_20*/

#DIV_22 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    /* height: 120px; */
    left: 0px;
    min-height: 1px;
    /* position: relative; */
    /* right: 0px; */
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    /* top: 0px; */
    column-rule-color: rgb(51, 51, 51);
    /* perspective-origin: 299.828px 60px; */
    /* transform-origin: 299.828px 60px; */
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    /* font: normal normal 300 normal 16px / 22.8571px "Roboto Condensed", sans-serif; */
    /* outline: rgb(51, 51, 51) none 0px; */
    /* padding: 0px 15px; */
}




/*#DIV_22*/

#UL_23 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 22px;
    left: 0px;
    min-height: 1px;
    position: relative;
    right: 0px;
    text-align: right;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    top: 0px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 284.828px 11px;
    transform-origin: 284.828px 11px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 16px / 22.8571px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    margin: 25px 0 30px -1em;
    outline: rgb(51, 51, 51) none 0px;
    /* padding: 0px 60px; */
}




/*#UL_23*/

#LI_24 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 22px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: right;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    top: 0px;
    width: 58.2656px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 29.125px 11px;
    transform-origin: 29.125px 11px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 16px / 22.8571px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 10px 0px 5px;
}




/*#LI_24*/

#A_25,
#A_37,
#A_114,
#A_118,
#A_126,
#A_128,
#A_130 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    text-align: right;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 16px / 22.8571px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}




/*#A_25, #A_37, #A_114, #A_118, #A_126, #A_128, #A_130*/

#SPAN_26,
#SPAN_38 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: inline-block;
    height: 4px;
    text-align: right;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    vertical-align: middle;
    width: 8px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 4px 2px;
    transform-origin: 4px 2px;
    caret-color: rgb(51, 51, 51);
    border-top: 4px dashed rgb(51, 51, 51);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 0px none rgb(51, 51, 51);
    border-left: 4px solid rgba(0, 0, 0, 0);
    font: normal normal 300 normal 16px / 22.8571px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px 2px;
    outline: rgb(51, 51, 51) none 0px;
}




/*#SPAN_26, #SPAN_38*/

#UL_27,
#UL_39 {
    box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: none;
    float: left;
    height: auto;
    left: -15px;
    min-width: 80px;
    position: absolute;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    top: 100%;
    width: auto;
    z-index: 1000;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(51, 51, 51);
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px 4px 4px 4px;
    font: normal normal 300 normal 14px / 20px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    margin: 2px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5px 0px;
}




/*#UL_27, #UL_39*/

#LI_28,
#LI_32,
#LI_40,
#LI_44,
#LI_48,
#LI_52,
#LI_56,
#LI_60,
#LI_64,
#LI_68,
#LI_72,
#LI_76,
#LI_80,
#LI_84,
#LI_88,
#LI_92,
#LI_96,
#LI_100,
#LI_104 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: auto;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 20px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}




/*#LI_28, #LI_32, #LI_40, #LI_44, #LI_48, #LI_52, #LI_56, #LI_60, #LI_64, #LI_68, #LI_72, #LI_76, #LI_80, #LI_84, #LI_88, #LI_92, #LI_96, #LI_100, #LI_104*/

#FORM_29,
#FORM_33,
#FORM_41,
#FORM_45,
#FORM_49,
#FORM_53,
#FORM_57,
#FORM_61,
#FORM_65,
#FORM_69,
#FORM_73,
#FORM_77,
#FORM_81,
#FORM_85,
#FORM_89,
#FORM_93,
#FORM_97,
#FORM_101,
#FORM_105 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: none;
    height: auto;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 20px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
}




/*#FORM_29, #FORM_33, #FORM_41, #FORM_45, #FORM_49, #FORM_53, #FORM_57, #FORM_61, #FORM_65, #FORM_69, #FORM_73, #FORM_77, #FORM_81, #FORM_85, #FORM_89, #FORM_93, #FORM_97, #FORM_101, #FORM_105*/

#INPUT_30,
#INPUT_34,
#INPUT_42,
#INPUT_46,
#INPUT_50,
#INPUT_54,
#INPUT_58,
#INPUT_62,
#INPUT_66,
#INPUT_70,
#INPUT_74,
#INPUT_78,
#INPUT_82,
#INPUT_86,
#INPUT_90,
#INPUT_94,
#INPUT_98,
#INPUT_102,
#INPUT_106 {
    color: rgb(51, 51, 51);
    cursor: default;
    display: none;
    height: auto;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(51, 51, 51);
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 20px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}




/*#INPUT_30, #INPUT_34, #INPUT_42, #INPUT_46, #INPUT_50, #INPUT_54, #INPUT_58, #INPUT_62, #INPUT_66, #INPUT_70, #INPUT_74, #INPUT_78, #INPUT_82, #INPUT_86, #INPUT_90, #INPUT_94, #INPUT_98, #INPUT_102, #INPUT_106*/

#A_31,
#A_35,
#A_43,
#A_51,
#A_59,
#A_67,
#A_75,
#A_83,
#A_91,
#A_99,
#A_107 {
    box-sizing: border-box;
    clear: both;
    color: rgb(51, 51, 51);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    white-space: nowrap;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 14px / 20px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 3px 20px;
}




/*#A_31, #A_35, #A_43, #A_51, #A_59, #A_67, #A_75, #A_83, #A_91, #A_99, #A_107*/

#LI_36 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 22px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: right;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    top: 0px;
    width: 56.2188px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 28.1094px 11px;
    transform-origin: 28.1094px 11px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 16px / 22.8571px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 10px 0px 5px;
}




/*#LI_36*/

#A_47,
#A_55,
#A_71,
#A_87,
#A_103 {
    box-sizing: border-box;
    clear: both;
    color: rgb(51, 51, 51);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    white-space: nowrap;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 14px / 20px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 3px 20px;
}




/*#A_47, #A_55, #A_71, #A_87, #A_103*/

#A_63,
#A_79 {
    box-sizing: border-box;
    clear: both;
    color: rgb(51, 51, 51);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    white-space: nowrap;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 14px / 20px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 3px 20px;
}




/*#A_63, #A_79*/

#A_95 {
    box-sizing: border-box;
    clear: both;
    color: rgb(51, 51, 51);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    white-space: nowrap;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 14px / 20px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 3px 20px;
}




/*#A_95*/

#LI_108 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 22px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: right;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    top: 0px;
    width: 160.844px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 80.4219px 11px;
    transform-origin: 80.4219px 11px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 16px / 22.8571px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 5px;
}




/*#LI_108*/

#DIV_109 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 22px;
    text-align: right;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: 150.844px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 75.4219px 11px;
    transform-origin: 75.4219px 11px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 16px / 22.8571px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}


img.logo-image {
    padding-top: 1em;
    width: 120%;
}



/*#DIV_109*/

#UL_110 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 22px;
    text-align: right;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: 138.844px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 69.4219px 11px;
    transform-origin: 69.4219px 11px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 16px / 22.8571px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    margin: 0px 17px 0px -5px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}




/*#UL_110*/

ul#UL_110>li {
    width: auto;
    display: inline;
}

#LI_111 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 22px;
    text-align: right;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: 33.4375px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 16.7188px 11px;
    transform-origin: 16.7188px 11px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 16px / 22.8571px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 5px;
}




/*#LI_111*/

#FORM_112,
#FORM_116 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: none;
    height: auto;
    text-align: right;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 16px / 22.8571px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
}




/*#FORM_112, #FORM_116*/

#INPUT_113,
#INPUT_117 {
    color: rgb(51, 51, 51);
    cursor: default;
    display: none;
    height: auto;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(51, 51, 51);
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 16px / 22.8571px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}




/*#INPUT_113, #INPUT_117*/

#LI_115 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 22px;
    text-align: right;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: 41.3906px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 20.6875px 11px;
    transform-origin: 20.6875px 11px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 16px / 22.8571px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 5px;
}




/*#LI_115*/

#LI_119 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 22px;
    text-align: right;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: 56.8281px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 28.4062px 11px;
    transform-origin: 28.4062px 11px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 700 normal 16px / 22.8571px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 5px;
}




/*#LI_119*/

#FORM_120 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: none;
    height: auto;
    text-align: right;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 700 normal 16px / 22.8571px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
}




/*#FORM_120*/

#INPUT_121 {
    color: rgb(51, 51, 51);
    cursor: default;
    display: none;
    height: auto;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(51, 51, 51);
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 700 normal 16px / 22.8571px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}




/*#INPUT_121*/

#A_122 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    text-align: right;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 700 normal 16px / 22.8571px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}




/*#A_122*/

#DIV_123 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    /* height: 100px; */
    text-align: right;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 284.828px 50px;
    transform-origin: 284.828px 50px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 16px / 22.8571px "Roboto Condensed", sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(51, 51, 51) none 0px;
}




/*#DIV_123*/

div#DIV_123 li {
    box-sizing: initial;
}

ul#UL_23>li {
    width: auto;
}

#UL_124 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
   /*  height: 100px; */
    text-align: right;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 287.328px 50px;
    transform-origin: 287.328px 50px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 16px / 22.8571px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px -5px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}




/*#UL_124*/

#LI_125 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 32px;
    text-align: right;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 56.0781px 16px;
    transform-origin: 56.0781px 16px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 16px / 22.8571px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5px 10px;
}

a#A_126 {
    color: #337ab7;
}

i.fa.fa-info-circle {
    font-size: 1.5em;
    margin-right: .25em;
}



/*#LI_125*/

#LI_127 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 32px;
    text-align: right;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: 84px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 42px 16px;
    transform-origin: 42px 16px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 16px / 22.8571px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5px 10px;
}




/*#LI_127*/

#LI_129 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 32px;
    text-align: right;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    width: 83.5312px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 41.7656px 16px;
    transform-origin: 41.7656px 16px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 16px / 22.8571px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5px 10px;
}




/*#LI_129*/

#LI_131 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 72px;
    text-align: right;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    vertical-align: top;
    width: auto;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 71.3438px 36px;
    transform-origin: 71.3438px 36px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 16px / 22.8571px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    margin: -4px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5px 0px 5px 10px;
}




/*#LI_131*/

#DIV_132 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 32px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 125px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 62.5px 16px;
    transform-origin: 62.5px 16px;
    caret-color: rgb(255, 255, 255);
    background: rgb(0, 131, 186) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 16px / 22.8571px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 5px 18px;
    float: right;
}




/*#DIV_132*/

#DIV_133 {
    box-sizing: border-box;
    color: rgb(14, 147, 210);
    height: 30px;
    text-align: center;
    text-decoration: none solid rgb(14, 147, 210);
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(14, 147, 210);
    perspective-origin: 66.3438px 15px;
    transform-origin: 66.3438px 15px;
    caret-color: rgb(14, 147, 210);
    border: 0px none rgb(14, 147, 210);
    font: normal normal 300 normal 16px / 22.8571px "Roboto Condensed", sans-serif;
    list-style: none outside none;
    outline: rgb(14, 147, 210) none 0px;
    padding: 8px 0px 0px;
    clear: both;
}




/*#DIV_133*/

button.dropdownMenuButton {
    background-color: transparent;
    color: #337ab7;
    border: none;
    padding: .25em;
}


button.btn.btn-secondary.dropdown-toggle.dropdownMenuButton:active {
    background-color: #fff !important;
    color: #337ab7 !important;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    color: #337ab7 !important;
    background-color: #fff !important;
    border: none !important;
}

button.btn.btn-secondary.dropdown-toggle.dropdownMenuButton:hover {
    color: #337ab7;
    background-color: #fff;
}

.dropdown-menu.show {
    min-width: 5rem;
}




/*VIDEO MODAL STYLES
=====================================================================================*/

.s-contain {
    display: none;
}

.modal-backdrop.in {
    filter: alpha(opacity=7);
    opacity: 0.7;
}

.modal-content {
    background: none;
    border: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal-body {
    padding: 0 25px 25px 25px;
}

.modal-header {
    padding: 25px 25px 15px 25px;
    text-align: right;
}

.modal-header,
.modal-footer {
    border: 0;
}

.modal-header .close {
    float: none;
    margin: 0;
    font-size: 36px;
    color: #fff;
    font-weight: 300;
    text-shadow: none;
    opacity: 1;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




/*VIDEO TUT / CTA
 ==================================================================================================*/

.tut-cta {
    background-color: rgb(125, 201, 217);
    height: 2em;
    width: 100%;
    /* margin: 0 0 1em 0; */
    box-shadow: 0px 3px 1px rgba(103, 103, 103, 0.06);
    -moz-box-shadow: 0px 3px 1px rgba(103, 103, 103, 0.06);
    -webkit-box-shadow: 0px 3px 1px rgba(103, 103, 103, 0.06);
    color: #fff;
    position: fixed;
    top: 0;
    z-index: 9999;
    border: none !important;
    display: block;
}

.tut {
    color: #fff;
    margin: 0 auto;
    width: auto;
    text-align: center;
    display: block;
    line-height: 2em;
}

.fa-play {
    margin-left: 1em;
}

i.bounce {
    -webkit-animation: arrow 2s both infinite;
    animation: arrow 2s both infinite;
}

@-webkit-keyframes arrow {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateX(-5px);
    }
    60% {
        -webkit-transform: translateX(-5px);
    }
}

@keyframes arrow {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateX(-5px);
    }
    60% {
        transform: translateX(-5px);
    }
}

video#v1 {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
}

#closer_videopopup {
    position: absolute;
    display: table-cell;
    right: 25%;
    top: 11%;
    font-size: 32px;
    text-align: center;
    vertical-align: middle;
    padding: auto;
    cursor: default;
    background: none;
    border: none;
    color: #3498db;
    z-index: 100004;
}

.tut-vid-modal>* {
    background-color: transparent !important;
}


button.modal-close.btn.btn-default {
    background-color: transparent !important;
    border: none !important;
    /* float: right; */
    position: absolute;
    right: -2em;
    z-index: 9999;
}

i.close-icon.fa.fa-times-circle {
    font-size: 2em !important;
    color: rgb(125, 201, 217) !important;
}

.custom-vid-modal {
    position: relative !important;
    background-color: transparent !important;
    background-clip: padding-box !important;
    outline: 0 !important;
    width: 600px !important;
    height: 450px !important;
    display: inline !important;
    border: none !important;
}

video#video1 {
    box-shadow: 10px 10px 10px rgba (100, 100, 100, 0.65);
    box-shadow: 7px 6px 8px rgba(103, 103, 103, 0.22);
}

.tut-dialog {
    width: 70% !important;
}

.tut-dialog.modal-dialog {
    max-width: 90%;
}





/* JUMBOTRON ==================================================================== */

.jumbotron {
    background-image: url('img/NYC_Skyline.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    border-radius: 0 !important;
    padding: 8em 0 !important;
}

select {
    color: #337ab7;
    font-size: .75em;
    width: 70%;
    margin: .5em;
    padding: 10px 0 10px 10px;
    border: .5px solid #cecece;
    /* needed */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* SVG background image */
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#337ab7'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
    background-size: 10px;
    background-position: calc(100% - 20px) center;
    background-repeat: no-repeat;
    background-color: #fff;
    -webkit-box-shadow: 10px 10px 32px -19px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 32px -19px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 32px -19px rgba(0, 0, 0, 0.75);
}

.hero-form h3,
.country h3 {
    font-size: .75em;
    margin: 0.5em;
    font-weight: 300;
}



h2.section-header {
    color: #337ab7;
    font-weight: 300;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.figure-wrapper {
    display: inline-block;
    padding: 0;
    margin: 0;
    display: inline-block;
    overflow: hidden;
}

.figure-wrapper img {
    display: inline-block;
}

.figure-wrapper.col-sm-6.col-md-6.col-lg-6 {
    padding: 0;
    margin: 0;
}


.scroll-header-wrapper.col-sm-3.col-md-3.col-lg-3 {
    margin: 50px 0;
}

.scroll-header h3 {
    color: #337ab7;
    font-weight: 500;
    font-size: 1.5em;
    margin: .5em 0;
}

.scroll-header h5 {
    font-size: 1em;
    font-weight: 300;
    margin-top: 1.5em;
}

.scroll-header {
    height: 100%;
    border-top: 3px solid #337ab7;
    border-bottom: 3px solid #337ab7;
}

.news {}

.news-top {}

.section-header {
    font-size: 1em;
    font-weight: 300;
    color: #337ab7;
}

.section-link {
    font-size: .75em;
    color: #337ab7;
}

.section-link-wrapper {
    text-align: right;
}

.news-list-wrapper {
    background-color: #FAF9F9;
}

.news-list {
    padding: 1em;
    margin: 0 auto;
    width: 95%;
}

.news-item {
    list-style: none;
    margin-bottom: 1em;
    border-bottom: 1px dotted #b3b3b3;
}

.news-item:last-child {
    border-bottom: none;
}

.news-head {
    margin-bottom: .5em;
}

.category-title {
    font-size: .8em;
    font-weight: 500;
    color: #337ab7;
    margin-right: 1em;
}

.time-stamp {
    font-size: .8em;
}

.news-snippet {
    font-size: .9em;
}

.blog {}

.blog-title {
    color: #337ab7;
    margin-bottom: .25em;
}

.blog-deets-wrapper p.time-stamp {
    margin-bottom: .25em;
}

.blog-item {
    list-style-type: none;
    border-top: 1px solid #cecece;
    padding: 1em 0 1em 0;
}

.blog-img-wrapper {
    display: inline;
    margin-right: .5em;
}

.blog-deets-wrapper {
    display: inline-block;
    /* float: right; */
}

.blog-snippet {
    font-size: .75em;
}

.blog-item:last-child {
    border-bottom: 1px solid #cecece;
}

.blog-list {
    padding-left: .75em;
}

.blog {
    padding-left: 2em !important;
}

.white {
    color: #fff;
}



h2.white {
    text-align: center;
    /* font-size: .85em; */
    font-weight: 200;
    text-shadow: -1px 2px 1px rgb(49, 49, 49);
    margin-bottom: 0;
}

h4.white {
    text-align: center;
    font-weight: 200;
    font-size: 1rem !important;
    text-shadow: -1px 2px 1px rgb(49, 49, 49);
}

.country-text {
    display: inline-block !important;
    position: absolute;
    width: 200px !important;
    margin-top: 2rem;
}

.blog-news {
    margin: 0 5em;
}

p.copyright {
    text-align: left;
    font-size: .8em;
    color: #337ab7;
}

footer {
    background-color: #F5F9FC;
    height: 15em;
    padding: 3em;
    margin-top: 5em;
}

.footer-logo {
    display: inline-block;
    position: relative;
    top: 6em;
}

a.footer-link {
    line-height: 2.25em;
    color: #337ab7;
    padding-left: .5em;
}

ul.footer-list {
    list-style: none;
    font-size: .8em;
}

.footer-logo-wrap {
    display: inline-block;
}

.footer-item {
    color: #337ab7;
}

section.scroll-countries.row {
    width: 100%;
    margin-bottom: 1em;
}





/* SLIDING MENU =================================== */
/*** Start Vanilla CSS 1.0.2 */body{font:9pt/1.5em sans-serif}pre,code,tt{font:1em/1.5em ‘Andale Mono’,’Lucida Console’,monospace}h1,h2,h3,h4,h5,h6,b,strong{font-weight:700}em,i,dfn{font-style:italic}dfn{font-weight:700}p,code,pre,kbd{margin:0 0 1.5em}blockquote{margin:0 1.5em 1.5em}cite{font-style:italic}li ul,li ol{margin:0 1.5em}ul{list-style-type:disc}ol{list-style-type:decimal}ol ol{list-style:upper-alpha}ol ol ol{list-style:lower-roman}ol ol ol ol{list-style:lower-alpha}dl{margin:0 0 1.5em}dl dt{font-weight:700}dd{margin-left:1.5em}table{margin-bottom:1.4em;width:100%}th{font-weight:700}th,td,caption{padding:4px 10px 4px 5px}tfoot{font-style:italic}sup,sub{line-height:0}abbr,acronym{border-bottom:1px dotted}address{margin:0 0 1.5em;font-style:italic}del{text-decoration:line-through}pre{margin:1.5em 0;white-space:pre}img.centered,.aligncenter,div.aligncenter{display:block;margin-left:auto;margin-right:auto}img.alignright{display:inline}img.alignleft{display:inline}.alignright{float:right;margin-left:10px}.alignleft{float:left;margin-right:10px}img{max-width:100%}* html .clearfix{height:1%}*+html .clearfix{display:inline-block}.clearfix:after{content:”.”;display:block;height:0;clear:both;visibility:hidden}* html .group{height:1%}*+html .group{display:inline-block}.group:after{content:”.”;display:block;height:0;clear:both;visibility:hidden}


/* CSS RESET FOR SUBMIT */
[role="button"],input[type="submit"],input[type="reset"],input[type="button"],button {
-webkit-box-sizing:content-box;
-moz-box-sizing:content-box;
box-sizing:content-box
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],input[type="reset"],input[type="button"],button {
background:none;
border:0;
color:inherit;
/* cursor: default; */
font:inherit;
line-height:normal;
overflow:visible;
padding:0;
-webkit-appearance:button;
/* for input */
-webkit-user-select:none;
/* for button */
-moz-user-select:none;
-ms-user-select:none
}

input::-moz-focus-inner,button::-moz-focus-inner {
border:0;
padding:0
}

/* Make `a` like a button */
[role="button"] {
color:inherit;
cursor:default;
display:inline-block;
text-align:center;
text-decoration:none;
white-space:pre;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none
}

/* Demo */
[role="button"],input[type="submit"],input[type="reset"],input[type="button"],button {
background-color:#f0f0f0;
border:1px solid #000;
border:1px solid rgba(0,0,0,0.1);
border-radius:.25em;
height:2.5em;
line-height:2.5;
margin:.25em;
padding:0 1em;
width:14em
}

/* END CSS RESSET FOR SUBMIT */
body {
background:#fff;
height:100%;
margin:0;
font-family:'Barlow Semi Condensed','Noto Sans',sans-serif
}

header {
display:flex;
display:-webkit-flex
}

.page-content {
margin-top:60px;
text-align:center
}

/*  SECTIONS  */
.section {
clear:both;
padding:0;
margin:0
}

/*  COLUMN SETUP  */
.col {
display:block;
float:left;
margin:1% 0 1% 1%
}

.col:first-child {
margin-left:0
}

/*  GROUPING  */
.group:before,.group:after {
content:"";
display:table
}

.group:after {
clear:both
}

.group {
zoom:1
/* For IE 6/7 */
}

/*  GRID OF TWO  */
.span_2_of_2 {
width:100%
}

.span_1_of_2 {
width:49.5%
}

@font-face {
font-family:'icomoon';
src:url(../fonts/icomoon.eot?o7okb4);
src:url(.//fonts/icomoon.eot?o7okb4#iefix) format("embedded-opentype"),url(../fonts/icomoon.ttf?o7okb4) format("truetype"),url(../fonts/icomoon.woff?o7okb4) format("woff"),url(../fonts/icomoon.svg?o7okb4#icomoon) format("svg");
font-weight:400;
font-style:normal
}

.header-brand {
/* width: 100%; */
margin:0 auto;
text-align:center;
background:#fff;
position:fixed;
top:0;
right:0;
left:0;
height:3.75em;
padding:.75em 0 0;
z-index:2
}

.hero {
background-image:url("http://joelps.com/pdb_nrNEW/MOBILE/img/NYC_Skyline2xsm.jpg");
background-position:center;
background-size:cover;
height:28em;
padding:1em 0
}

input[type="submit"] {
height:4em;
width:40%;
margin:1em 0;
border-radius:4px;
color:#fff;
background-color:#337ab7;
border:none
}

input[type="submit"]:focus {
background-color:#194163
}

h1.headline {
font-size:2em;
font-weight:500;
color:#337ab7;
margin:1.5em 0;
letter-spacing:.1em
}

.area > h2,.country h2 {
/* font-size: 1.25em; */
font-weight:500;
color:#337ab7
}

select {
color:#3e3e3e;
/* font-size: .75em; */
width:70%;
margin:.5em;
padding:10px 0 10px 10px;
border:.5px solid #cecece;
/* needed */
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
/* SVG background image */
background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#337ab7'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
background-size:10px;
background-position:calc(100% - 20px) center;
background-repeat:no-repeat;
background-color:#fff;
-webkit-box-shadow:10px 10px 22px -19px rgba(140,140,140,0.75);
-moz-box-shadow:10px 10px 22px -19px rgba(140,140,140,0.75);
box-shadow:10px 10px 22px -19px rgba(140,140,140,0.75)
}

.hero-form select {
font-size:1.25em
}

.hero-form h3,.country h3 {
/* font-size: .75em; */
margin:.5em;
font-weight:300
}

h4 {
text-align:left;
padding-left:2em;
margin-bottom:0
}

figure {
margin:0;
height:20em;
overflow:hidden
}

figcaption.vert-caption {
/* font-size: .6em; */
margin-top:0;
padding:1.5em;
line-height:1.75em;
color:#fff;
height:9em;
text-align:left
}

figcaption.horz-caption {
/* font-size: .6em; */
margin-left:-4em;
padding:1.75em 1.75em 1.75em 3.75em;
line-height:1.75em;
color:#fff;
height:14em;
width:34.5%;
float:right;
text-align:left
}

figcaption.color-1 {
background-color:#2E4057
}

figcaption.color-2 {
background-color:#99C24D
}

figcaption.color-3 {
background-color:#5C415D
}

.fig-image-wrapper {
height:8em;
overflow:hidden
}

.fig-image-wrapper > img {
/* height: 100%; */
width:auto
}

.horz-fig-image-wrapper {
width:51%;
margin-left:-1em;
display:inline-block;
height:17.5em;
overflow:hidden;
margin-left:-3em
}

.horz-fig-image-wrapper > img {
min-height:100%;
min-width:55em;
margin-left:-30em;
overflow:hidden
}

.japan-button {
background-image:url('http://joelps.com/pdb_nrNEW/MOBILE/img-japan.png');
background-position:center;
background-size:cover
}

.singapore-button {
background-image:url('http://joelps.com/pdb_nrNEW/MOBILE/img-singapore.png');
background-position:center;
background-size:cover
}

.usa-button {
background-image:url('http://joelps.com/pdb_nrNEW/MOBILE/img-usa.png');
background-position:center;
background-size:cover
}

h3.white {
text-align:center;
/* font-size: .85em; */
font-weight:200;
text-shadow:-1px 2px 1px #313131;
margin-bottom:0
}

h3.blue {
color:#337ab7
}

p.white {
text-align:center;
/* font-size: .5em; */
font-weight:200;
text-shadow:-1px 2px 1px #313131
}

.header-group {
border-top:2px solid #337ab7;
border-bottom:2px solid #337ab7;
margin:.5em 0 .25em
}

.country h2 {
margin:0 auto
}

.white {
color:#fff
}

.span_3_of_3 {
width:100%
}

.span_2_of_3 {
width:66.33%
}

.span_1_of_3 {
width:32.66%
}

[class^="icon-"],[class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
font-family:'icomoon'!important;
speak:none;
font-style:normal;
font-weight:400;
font-variant:normal;
text-transform:none;
line-height:1;
/* Better Font Rendering =========== */
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale
}

.icon-menu {
color:#337ab7;
/* position: fixed; */
top:.25em;
right:.25em
}

.icon-menu:before {
content:"\e900"
}

.sliding--menu__wrapper.slide--right input[type="checkbox"]:checked~label .icon-menu:before {
content:"✕";
color:#fff
}

header {
display:flex
}

.sliding--menu__wrapper {
overflow:hidden;
top:0;
left:0;
margin-right:auto
}

.sliding--menu__wrapper nav {
position:fixed;
width:250px;
height:100%;
-moz-transition:all 200ms ease-in;
-webkit-transition:all 200ms ease-in;
-o-transition:all 200ms ease-in;
transition:all 200ms ease-in;
z-index:2;
top:0;
left:0;
margin:0 0 0 -250px
}

.sliding--menu__wrapper nav ul {
padding:0;
margin:0;
list-style:none;
background:#222;
overflow:hidden;
width:250px;
height:100%
}

.sliding--menu__wrapper nav ul .site--logo {
width:75px;
padding:15px
}

.sliding--menu__wrapper nav a {
color:#337ab7;
display:block;
padding:15px;
text-decoration:none
/* font-size: .75em; */
}

.sliding--menu__wrapper nav a:hover {
background:#337ab7;
color:#fff
}

.sliding--menu__wrapper label {
display:block;
font-weight:700;
width:56px;
height:56px;
line-height:56px;
color:#fff;
text-align:center;
font-size:2em;
position:fixed;
top: 0 !important;
z-index:5;
-moz-transition:all 200ms ease-in;
-webkit-transition:all 200ms ease-in;
-o-transition:all 200ms ease-in;
transition:all 200ms ease-in
}

/*IPHONE5 Portrait*/
/* @media only screen and (min-device-width : 320px) and (max-device-width : 568px) { 
    .sliding--menu__wrapper label {
        top: -1em;
    } 
} */
.sliding--menu__wrapper .obfuscator {
visibility:hidden;
-moz-transition:all 200ms ease-in;
-webkit-transition:all 200ms ease-in;
-o-transition:all 200ms ease-in;
transition:all 200ms ease-in;
position:absolute;
top:0;
left:0;
height:100%;
width:100%;
z-index:4;
transition-duration:.5s
}

.sliding--menu__wrapper input[type="checkbox"] {
display:none
}

.sliding--menu__wrapper input[type="checkbox"]:checked~nav {
margin-left:0
}

.sliding--menu__wrapper input[type="checkbox"]:checked~label {
background:transparent;
left:260px
}

.sliding--menu__wrapper input[type="checkbox"]:checked~.obfuscator {
visibility:visible;
pointer-events:auto;
opacity:.5;
background:#111;
z-index:4;
position:fixed
}

.sliding--menu__wrapper.slide--top {
top:0
}

.sliding--menu__wrapper.slide--top nav {
position:fixed;
width:250px;
height:100%;
-moz-transition:all 200ms ease-in;
-webkit-transition:all 200ms ease-in;
-o-transition:all 200ms ease-in;
transition:all 200ms ease-in;
z-index:2;
width:100%;
height:auto;
left:0;
margin:-250px 0 0
}

.sliding--menu__wrapper.slide--top nav ul {
padding:0;
margin:0;
list-style:none;
background:#222;
overflow:hidden;
display:flex;
width:100%;
height:auto
}

.sliding--menu__wrapper.slide--top input[type="checkbox"]:checked~nav {
margin-top:0
}

.sliding--menu__wrapper.slide--top input[type="checkbox"]:checked~label {
top:260px;
left:auto
}

.sliding--menu__wrapper.slide--right {
top:0;
right:0;
margin-left:auto;
margin-right:56px
}

.sliding--menu__wrapper.slide--right nav {
position:fixed;
width:250px;
height:100%;
-moz-transition:all 100ms ease-in;
-webkit-transition:all 100ms ease-in;
-o-transition:all 100ms ease-in;
transition:all 100ms ease-in;
z-index:5;
top:0;
right:0;
margin:0 -250px 0 0;
margin-left:auto
}

.sliding--menu__wrapper.slide--right nav ul {
padding:0;
margin:0;
color:#337ab7;
list-style:none;
background:#fff;
overflow:scroll;
width:250px;
height:100%;
line-height:.5em
}

a.login-link {
font-size:1em!important
}

.nav-item h6 {
padding:1em;
margin:1em 0 0;
color:#333;
font-weight:600;
font-size:1em
}

.sliding--menu__wrapper.slide--right input[type="checkbox"]:checked~nav {
margin-right:0;
margin-left:auto
}

.sliding--menu__wrapper.slide--right input[type="checkbox"]:checked~label {
right:260px;
margin-left:auto
}

.sliding--menu__wrapper.slide--bottom {
bottom:0
}

.sliding--menu__wrapper.slide--bottom label {
bottom:0
}

.sliding--menu__wrapper.slide--bottom nav {
position:fixed;
width:250px;
height:100%;
-moz-transition:all 200ms ease-in;
-webkit-transition:all 200ms ease-in;
-o-transition:all 200ms ease-in;
transition:all 200ms ease-in;
z-index:2;
width:100%;
height:auto;
top:auto;
bottom:0;
margin:0 0 -250px
}

.sliding--menu__wrapper.slide--bottom nav ul {
padding:0;
margin:0;
list-style:none;
background:#222;
overflow:hidden;
display:flex;
width:100%;
height:auto
}

.sliding--menu__wrapper.slide--bottom input[type="checkbox"]:checked~nav {
margin-bottom:0
}

.sliding--menu__wrapper.slide--bottom input[type="checkbox"]:checked~label {
bottom:260px;
left:auto
}

img.company-hero {
    min-width: 100%;
}

.copy-block {
/* Wrapper class for entire block. */
max-height:120px;
position:relative;
overflow:hidden;
z-index:1
}

.copy-block .fade-away {
/* Class to provide a gradient fade to the call-to-action. */
background:#fff;
background:-moz-linear-gradient(top,rgba(125,185,232,0) 0%,rgba(134,190,234,0) 3%,rgba(255,255,255,0.58) 43%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 97%);
/* FF3.6-15 */
background:-webkit-linear-gradient(top,rgba(125,185,232,0) 0%,rgba(134,190,234,0) 3%,rgba(255,255,255,0.58) 43%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 97%);
/* Chrome10-25,Safari5.1-6 */
background:linear-gradient(to bottom,rgba(125,185,232,0) 0%,rgba(134,190,234,0) 3%,rgba(255,255,255,0.58) 43%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 97%);
/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007db9e8',endColorstr='#ffffff',GradientType=0)
/* IE6-9 */
}

.copy-block .read-more {
/* Class to provide positioning for the call-to-action. */
position:absolute;
bottom:0;
left:0;
width:100%;
text-align:center;
margin:0;
padding:85px 0 10px
}

.blank-block {
height:300px;
background-color:gray
}

.read-more a {
font-size:1.25em;
text-decoration:none;
color: #337ab7;
}

.read-more a:before {
    content: "";
}

.read-more a:after {
    font-family: FontAwesome;
    content: "\f077";
}

.fade-away a:after {
    content: "";
}

.copy {
height:300px
}

ul.news-list {
list-style-type:none;
padding:.75em;
background-color:#FAF9F9;
margin:0
}

li.news-item {
background-color:#FAF9F9;
text-align:left;
padding:.5em;
border-bottom:1px dashed #dedede
}

.news-item:last-child {
border-bottom:0!important
}

p.snippet {
/* font-size: .75em; */
margin:.3em .3em .3em 0
}

span.whats-new {
color:#337ab7;
padding-right:.5em
}

.news-header {
/* font-size: .75em; */
}

h3.section-header {
font-weight:200;
color:#337ab7;
text-align:left;
padding:1em 0 0 1em
}

h4 a.section-link {
font-weight:200;
color:#337ab7;
padding:.5em 1em .5em .5em;
/* margin-right:-15em */
}

.section-link-wrapper {
padding:0;
text-align: right;
}

li.blog-item {
list-style-type:none;
margin:.75em;
height:auto;
padding-bottom:.5em;
border-bottom:1px solid #e0e0e0
}

img.thumb {
width:35%;
display:inline-block;
float:left
}

ul.blog-list {
padding-left:0;
text-align:left
}

.blog-brief {
display:inline-block;
/* font-size: .8em; */
margin-left:1em;
/* float:  right; */
width:60%
}

p.date-stamp,p.blog-title,p.blog-snippet {
margin-top:0;
margin-bottom:.2em
/* font-size: .75em; */
}

p.blog-title {
color:#337ab7
}

footer {
background-color:#F5F9FC;
height:8em;
padding-top:1em;
margin-top: 2em;
}

p.copyright {
text-align:center;
/* font-size:  .5em; */
color:#337ab7
}

.lang-select-wrap {
text-align:center
}

.lang-select-wrap select {
width:12em;
font-size:1.5em
}

div.site-wrap {
position:static
}

header > .sliding--menu__wrapper > input[type="checkbox"] + .site-wrap {
position:static
}

header > .sliding--menu__wrapper > input[type="checkbox"]:checked + .site-wrap {
visibility:visible;
pointer-events:auto;
opacity:.5;
background:blue;
z-index:4;
position:fixed;
overflow:hidden
}

.company-h2 {
font-weight:500;
font-size:1.75em
}

.company-h5 {
color:#337ab7;
font-size:1.25em;
font-weight:500
}

.company-p {
text-align:left;
padding:0 2em;
color:#4a4a4a;
line-height:1.75em
}

.address-p {
font-size:1em;
text-align:left;
line-height:1.75em;
padding-left:2em
}

input.btn.button.button-narrow.inline-block {
background-color:#337ab7;
color:#fff;
width:8em
}


/* RESPONSIVE MEDIA QUERIES============================================ */
/*IPHONE5 Portrait*/
@media only screen and (min-width : 320px) and (max-width : 568px) { 
  #mobile-header {
    display: block !important;
  }
  #DIV_7, #UL_9, #DIV_22, #LI_108 {
    display: none !important;
  }
    .tut-cta {
    display: none !important;
}
img.logo-image {
    padding-top: .3em;
    padding-left: 2em;
    width: 100%;
}
.sliding--menu__wrapper label {
    display: block;
    font-weight: 700;
    width: 56px;
    height: 56px;
    line-height: 56px;
    color: #fff;
    text-align: center;
    font-size: 2em;
    position: fixed;
    top: -.15em !important;
    z-index: 5;
    -moz-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    right: 25em;
}

.sliding--menu__wrapper.slide--right input[type="checkbox"]:checked~nav {
    margin-right: 50em;
    margin-left: auto;
    height: 52em;
}



header > .sliding--menu__wrapper > input[type="checkbox"] + .site-wrap {
position:static
}

header > .sliding--menu__wrapper > input[type="checkbox"]:checked + .site-wrap {
visibility:visible;
pointer-events:auto;
opacity:.5;
background:blue;
z-index:4;
position:fixed;
overflow:hidden
}

}

@media only screen 
and (min-width : 320px) and (max-width : 568px) and (orientation : portrait) { 
    #mobile-header {
    display: block !important;
  }
#DIV_7, #UL_9, #DIV_22, #LI_108 {
    display: none !important;
  }
    .tut-cta {
    display: none !important;
}
img.logo-image {
    padding-top: .3em;
    padding-left: 2em;
    width: 100%;
}
header#HEADER_134 {
    height: 3em !important;
    padding-top: 0 !important;
}
.sliding--menu__wrapper label {
    display: block;
    font-weight: 700;
    width: 56px;
    height: 56px;
    line-height: 56px;
    color: #fff;
    text-align: center;
    font-size: 2em;
    position: fixed;
    top: -.15em !important;
    z-index: 5;
    -moz-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    right: 25em;
}

.sliding--menu__wrapper.slide--right input[type="checkbox"]:checked~nav {
    margin-right: 50em;
    margin-left: auto;
    height: 52em;
}

div.site-wrap {
position:static
}

header > .sliding--menu__wrapper > input[type="checkbox"] + .site-wrap {
position:static
}

header > .sliding--menu__wrapper > input[type="checkbox"]:checked + .site-wrap {
visibility:visible;
pointer-events:auto;
opacity:.5;
background:blue;
z-index:4;
position:fixed;
overflow:hidden
}

}

/*IPHONE5 Landscape*/
@media only screen and (min-width : 320px) and (max-width : 568px) and (orientation : portrait) {
    #mobile-header {
    display: block !important;
  }
#DIV_7, #UL_9, #DIV_22, #LI_108 {
    display: none !important;
  }
    .tut-cta {
    display: none !important;
}
img.logo-image {
    padding-top: .3em;
    padding-left: 2em;
    width: 100%;
}
header#HEADER_134 {
    height: 3em !important;
    padding-top: 0 !important;
}
.sliding--menu__wrapper label {
    display: block;
    font-weight: 700;
    width: 56px;
    height: 56px;
    line-height: 56px;
    color: #fff;
    text-align: center;
    font-size: 2em;
    position: fixed;
    top: -.15em !important;
    z-index: 5;
    -moz-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    right: 25em;
}

.sliding--menu__wrapper.slide--right input[type="checkbox"]:checked~nav {
    margin-right: 50em;
    margin-left: auto;
    height: 52em;
}

div.site-wrap {
position:static
}

header > .sliding--menu__wrapper > input[type="checkbox"] + .site-wrap {
position:static
}

header > .sliding--menu__wrapper > input[type="checkbox"]:checked + .site-wrap {
visibility:visible;
pointer-events:auto;
opacity:.5;
background:blue;
z-index:4;
position:fixed;
overflow:hidden
}

}

/*IPHONE 6+ Portrait*/
@media only screen and (min-width : 414px) and (max-width : 736px) and (orientation : portrait) { 
#mobile-header {
    display: block !important;
  }
#DIV_7, #UL_9, #DIV_22, #LI_108 {
    display: none !important;
  }
    .tut-cta {
    display: none !important;
}
img.logo-image {
    padding-top: .3em;
    padding-left: 2em;
    width: 100%;
}
header#HEADER_134 {
    height: 3em !important;
    padding-top: 0 !important;
}
.sliding--menu__wrapper label {
    display: block;
    font-weight: 700;
    width: 56px;
    height: 56px;
    line-height: 56px;
    color: #fff;
    text-align: center;
    font-size: 2em;
    position: fixed;
    top: -.15em !important;
    z-index: 5;
    -moz-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    right: 25em;
}

.sliding--menu__wrapper.slide--right input[type="checkbox"]:checked~nav {
    margin-right: 50em;
    margin-left: auto;
    height: 52em;
}

div.site-wrap {
position:static !important;
}

header > .sliding--menu__wrapper > input[type="checkbox"] + .site-wrap {
position:static !important;
}

header > .sliding--menu__wrapper > input[type="checkbox"]:checked + .site-wrap {
visibility:visible;
pointer-events:auto;
opacity:.5;
background:blue;
z-index:4;
position:fixed;
overflow:hidden
}

 }

/*IPHONE 6+ Landscape*/
@media only screen and (min-width : 414px) and (max-width : 736px) and (orientation : landscape) {
#mobile-header {
    display: block !important;
  }
#DIV_7, #UL_9, #DIV_22, #LI_108 {
    display: none !important;
  }
    .tut-cta {
    display: none !important;
}
img.logo-image {
    padding-top: .3em;
    padding-left: 2em;
    width: 100%;
}
header#HEADER_134 {
    height: 3em !important;
    padding-top: 0 !important;
}
.sliding--menu__wrapper label {
    display: block;
    font-weight: 700;
    width: 56px;
    height: 56px;
    line-height: 56px;
    color: #fff;
    text-align: center;
    font-size: 2em;
    position: fixed;
    top: -.15em !important;
    z-index: 5;
    -moz-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    right: 25em;
}

.sliding--menu__wrapper.slide--right input[type="checkbox"]:checked~nav {
    margin-right: 50em;
    margin-left: auto;
    height: 52em;
}

div.site-wrap {
position:static
}

header > .sliding--menu__wrapper > input[type="checkbox"] + .site-wrap {
position:static
}

header > .sliding--menu__wrapper > input[type="checkbox"]:checked + .site-wrap {
visibility:visible;
pointer-events:auto;
opacity:.5;
background:blue;
z-index:4;
position:fixed;
overflow:hidden
}

}

/*IPHONE 6 Portrait*/
@media only screen and (min-width : 375px) and (max-width : 667px) and (orientation : portrait) { 
#mobile-header {
    display: block !important;
  }
#DIV_7, #UL_9, #DIV_22, #LI_108 {
    display: none !important;
  }
    .tut-cta {
    display: none !important;
}
img.logo-image {
    padding-top: .3em;
    padding-left: 2em;
    width: 100%;
}
header#HEADER_134 {
    height: 3em !important;
    padding-top: 0 !important;
}
.sliding--menu__wrapper label {
    display: block;
    font-weight: 700;
    width: 56px;
    height: 56px;
    line-height: 56px;
    color: #fff;
    text-align: center;
    font-size: 2em;
    position: fixed;
    top: -.15em !important;
    z-index: 5;
    -moz-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    right: 25em;
}

.sliding--menu__wrapper.slide--right input[type="checkbox"]:checked~nav {
    margin-right: 50em;
    margin-left: auto;
    height: 52em;
}

div.site-wrap {
position:static
}

header > .sliding--menu__wrapper > input[type="checkbox"] + .site-wrap {
position:static
}

header > .sliding--menu__wrapper > input[type="checkbox"]:checked + .site-wrap {
visibility:visible;
pointer-events:auto;
opacity:.5;
background:blue;
z-index:4;
position:fixed;
overflow:hidden
}

}

/*IPHONE 6 Landscape*/
@media only screen and (min-width : 375px) and (max-width : 667px) and (orientation : landscape) { 
#mobile-header {
    display: block !important;
  }
#DIV_7, #UL_9, #DIV_22, #LI_108 {
    display: none !important;
  }
    .tut-cta {
    display: none !important;
}
img.logo-image {
    padding-top: .3em;
    padding-left: 2em;
    width: 100%;
}
header#HEADER_134 {
    height: 3em !important;
    padding-top: 0 !important;
}
.sliding--menu__wrapper label {
    display: block;
    font-weight: 700;
    width: 56px;
    height: 56px;
    line-height: 56px;
    color: #fff;
    text-align: center;
    font-size: 2em;
    position: fixed;
    top: -.15em !important;
    z-index: 5;
    -moz-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    right: 25em;
}

.sliding--menu__wrapper.slide--right input[type="checkbox"]:checked~nav {
    margin-right: 50em;
    margin-left: auto;
    height: 52em;
}

div.site-wrap {
position:static
}

header > .sliding--menu__wrapper > input[type="checkbox"] + .site-wrap {
position:static
}

header > .sliding--menu__wrapper > input[type="checkbox"]:checked + .site-wrap {
visibility:visible;
pointer-events:auto;
opacity:.5;
background:blue;
z-index:4;
position:fixed;
overflow:hidden
}

}

/*IPAD MINI Portrait*/
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) and (-webkit-min-pixel-ratio: 1)  { 
#mobile-header {
    display: block !important;
  }
#DIV_7, #UL_9, #DIV_22, #LI_108 {
    display: none !important;
  }
    .tut-cta {
    display: none !important;
}
img.logo-image {
    padding-top: .3em;
    padding-left: 2em;
    width: 100%;
}
header#HEADER_134 {
    height: 3em !important;
    padding-top: 0 !important;
}
.sliding--menu__wrapper label {
    display: block;
    font-weight: 700;
    width: 56px;
    height: 56px;
    line-height: 56px;
    color: #fff;
    text-align: center;
    font-size: 2em;
    position: fixed;
    top: -.15em !important;
    z-index: 5;
    -moz-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    right: 25em;
}

.sliding--menu__wrapper.slide--right input[type="checkbox"]:checked~nav {
    margin-right: 50em;
    margin-left: auto;
    height: 52em;
}

div.site-wrap {
position:static
}

header > .sliding--menu__wrapper > input[type="checkbox"] + .site-wrap {
position:static
}

header > .sliding--menu__wrapper > input[type="checkbox"]:checked + .site-wrap {
visibility:visible;
pointer-events:auto;
opacity:.5;
background:blue;
z-index:4;
position:fixed;
overflow:hidden
}

}

/*IPAD MINI Landscape*/
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape)and (-webkit-min-pixel-ratio: 1)  {
  #mobile-header {
    display: block !important;
  }
#DIV_7, #UL_9, #DIV_22, #LI_108 {
    display: none !important;
  }
    .tut-cta {
    display: none !important;
}
img.logo-image {
    padding-top: .3em;
    padding-left: 2em;
    width: 100%;
}
header#HEADER_134 {
    height: 3em !important;
    padding-top: 0 !important;
}
.sliding--menu__wrapper label {
    display: block;
    font-weight: 700;
    width: 56px;
    height: 56px;
    line-height: 56px;
    color: #fff;
    text-align: center;
    font-size: 2em;
    position: fixed;
    top: -.15em !important;
    z-index: 5;
    -moz-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    right: 25em;
}

.sliding--menu__wrapper.slide--right input[type="checkbox"]:checked~nav {
    margin-right: 50em;
    margin-left: auto;
    height: 52em;
}

div.site-wrap {
position:static
}

header > .sliding--menu__wrapper > input[type="checkbox"] + .site-wrap {
position:static
}

header > .sliding--menu__wrapper > input[type="checkbox"]:checked + .site-wrap {
visibility:visible;
pointer-events:auto;
opacity:.5;
background:blue;
z-index:4;
position:fixed;
overflow:hidden
}

}

/* DESKTOP */



/* ----------- Non-Retina Screens ----------- */
@media screen and (min-width: 1024px) and (max-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) { 
    
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1024px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) { 
    
}