body {
  background: #1588b5;
  height: 100%;
}
header {
  display: flex;
  display: -webkit-flex;
}

.page-content {
  margin-top: 56px;
  text-align: center;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?o7okb4");
  src: url(".//fonts/icomoon.eot?o7okb4#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?o7okb4") format("truetype"), url("../fonts/icomoon.woff?o7okb4") format("woff"), url("../fonts/icomoon.svg?o7okb4#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-menu {
  color: #000; }
  .icon-menu:before {
    content: "\e900"; }

header {
  display: flex; }

.sliding--menu__wrapper {
  overflow: hidden;
  top: 0;
  left: 0;
  margin-right: auto; }
  .sliding--menu__wrapper nav {
    position: fixed;
    width: 250px;
    height: 100%;
    -moz-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    z-index: 2;
    top: 0;
    left: 0;
    margin: 0 0 0 -250px; }
    .sliding--menu__wrapper nav ul {
      padding: 0;
      margin: 0;
      list-style: none;
      background: #222;
      overflow: hidden;
      width: 250px;
      height: 100%; }
      .sliding--menu__wrapper nav ul .site--logo {
        width: 75px;
        padding: 15px; }
    .sliding--menu__wrapper nav a {
      color: #fff;
      display: block;
      padding: 15px; }
      .sliding--menu__wrapper nav a:hover {
        background: #111; }
  .sliding--menu__wrapper label {
    display: block;
    font-weight: 700;
    width: 56px;
    height: 56px;
    line-height: 56px;
    color: #fff;
    text-align: center;
    font-size: 2em;
    position: fixed;
    z-index: 2;
    -moz-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in; }
  .sliding--menu__wrapper .obfuscator {
    visibility: hidden;
    -moz-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
    transition-duration: .5s; }
  .sliding--menu__wrapper input[type="checkbox"] {
    display: none; }
    .sliding--menu__wrapper input[type="checkbox"]:checked ~ nav {
      margin-left: 0; }
    .sliding--menu__wrapper input[type="checkbox"]:checked ~ label {
      background: #fff;
      left: 260px; }
    .sliding--menu__wrapper input[type="checkbox"]:checked ~ .obfuscator {
      visibility: visible;
      pointer-events: auto;
      opacity: 0.5;
      background: #111;
      z-index: 1; }
  .sliding--menu__wrapper.slide--top {
    top: 0; }
    .sliding--menu__wrapper.slide--top nav {
      position: fixed;
      width: 250px;
      height: 100%;
      -moz-transition: all 200ms ease-in;
      -webkit-transition: all 200ms ease-in;
      -o-transition: all 200ms ease-in;
      transition: all 200ms ease-in;
      z-index: 2;
      width: 100%;
      height: auto;
      left: 0;
      margin: -250px 0 0 0; }
      .sliding--menu__wrapper.slide--top nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
        background: #222;
        overflow: hidden;
        display: flex;
        width: 100%;
        height: auto; }
    .sliding--menu__wrapper.slide--top input[type="checkbox"]:checked ~ nav {
      margin-top: 0; }
    .sliding--menu__wrapper.slide--top input[type="checkbox"]:checked ~ label {
      top: 260px;
      left: auto; }
  .sliding--menu__wrapper.slide--right {
    top: 0;
    right: 0;
    margin-left: auto;
    margin-right: 56px; }
    .sliding--menu__wrapper.slide--right nav {
      position: fixed;
      width: 250px;
      height: 100%;
      -moz-transition: all 200ms ease-in;
      -webkit-transition: all 200ms ease-in;
      -o-transition: all 200ms ease-in;
      transition: all 200ms ease-in;
      z-index: 2;
      top: 0;
      right: 0;
      margin: 0 -250px 0 0;
      margin-left: auto; }
      .sliding--menu__wrapper.slide--right nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
        background: #222;
        overflow: hidden;
        width: 250px;
        height: 100%; }
    .sliding--menu__wrapper.slide--right input[type="checkbox"]:checked ~ nav {
      margin-right: 0;
      margin-left: auto; }
    .sliding--menu__wrapper.slide--right input[type="checkbox"]:checked ~ label {
      right: 260px;
      margin-left: auto; }
  .sliding--menu__wrapper.slide--bottom {
    bottom: 0; }
    .sliding--menu__wrapper.slide--bottom label {
      bottom: 0; }
    .sliding--menu__wrapper.slide--bottom nav {
      position: fixed;
      width: 250px;
      height: 100%;
      -moz-transition: all 200ms ease-in;
      -webkit-transition: all 200ms ease-in;
      -o-transition: all 200ms ease-in;
      transition: all 200ms ease-in;
      z-index: 2;
      width: 100%;
      height: auto;
      top: auto;
      bottom: 0;
      margin: 0 0 -250px 0; }
      .sliding--menu__wrapper.slide--bottom nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
        background: #222;
        overflow: hidden;
        display: flex;
        width: 100%;
        height: auto; }
    .sliding--menu__wrapper.slide--bottom input[type="checkbox"]:checked ~ nav {
      margin-bottom: 0; }
    .sliding--menu__wrapper.slide--bottom input[type="checkbox"]:checked ~ label {
      bottom: 260px;
      left: auto; }
