/*** Start Vanilla CSS 1.0.2 */ body{font:9pt/1.5em sans-serif;}pre,code{font:1em/1.5em 'Andale Mono','Lucida Console',monospace;}h1,h2,h3,h4,h5,h6,b,strong{font-weight:700;}em,i,dfn{font-style:italic;}dfn{font-weight:700;}p,code,pre,kbd{margin:0 0 1.5em;}blockquote{margin:0 1.5em 1.5em;}cite{font-style:italic;}li ul,li ol{margin:0 1.5em;}ul{list-style-type:disc;}ol{list-style-type:decimal;}ol ol{list-style:upper-alpha;}ol ol ol{list-style:lower-roman;}ol ol ol ol{list-style:lower-alpha;}dl{margin:0 0 1.5em;}dl dt{font-weight:700;}dd{margin-left:1.5em;}table{margin-bottom:1.4em;width:100%;}th{font-weight:700;}th,td,caption{padding:4px 10px 4px 5px;}tfoot{font-style:italic;}sup,sub{line-height:0;}abbr,acronym{border-bottom:1px dotted;}address{margin:0 0 1.5em;font-style:italic;}del{text-decoration:line-through;}pre{margin:1.5em 0;white-space:pre;}img.centered,.aligncenter,div.aligncenter{display:block;margin-left:auto;margin-right:auto;}img.alignright{display:inline;}img.alignleft{display:inline;}.alignright{float:right;margin-left:10px;}.alignleft{float:left;margin-right:10px;}img{max-width:100% }* html .clearfix{height:1%;}*+html .clearfix{display:inline-block;}.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}* html .group{height:1%;}*+html .group{display:inline-block;}.group:after{content:".";display:block;height:0;clear:both;visibility:hidden;}

/* CSS RESET FOR SUBMIT */
[role="button"],input[type="submit"],input[type="reset"],input[type="button"],button {
-webkit-box-sizing:content-box;
-moz-box-sizing:content-box;
box-sizing:content-box
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],input[type="reset"],input[type="button"],button {
background:none;
border:0;
color:inherit;
font:inherit;
line-height:normal;
overflow:visible;
padding:0;
-webkit-appearance:button;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none
}

input::-moz-focus-inner,button::-moz-focus-inner {
border:0;
padding:0
}

[role="button"] {
color:inherit;
cursor:default;
display:inline-block;
text-align:center;
text-decoration:none;
white-space:pre;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none
}

[role="button"],input[type="submit"],input[type="reset"],input[type="button"],button {
background-color:#f0f0f0;
border:1px solid rgba(0,0,0,0.1);
border-radius:.25em;
height:2.5em;
line-height:2.5;
margin:.25em;
padding:0 1em;
width:14em
}

/* END CSS RESSET FOR SUBMIT */

body {
background:#fff;
height:100%;
margin:0;
font-family:'Barlow Semi Condensed','Noto Sans',sans-serif
}

header {
display:flex;
display:-webkit-flex
}

.page-content {
margin-top:4em;
text-align:center
}

.policy-content {
    margin-top: 6em;
}

.section {
clear:both;
padding:0;
margin:0
}

.col {
display:block;
float:left;
margin:1% 0 1% 1%
}

.col:first-child {
margin-left:0
}

.group:before,.group:after {
content:"";
display:table
}

.group:after {
clear:both
}

.group {
zoom:1
/* For IE 6/7 */
}

/*  GRID OF TWO  */
.span_2_of_2 {
width:100%
}

.span_1_of_2 {
width:49.5%
}

.header-brand {
margin:0 auto;
text-align:center;
background:#fff;
position:fixed;
top:0;
right:0;
left:0;
height:3.75em;
padding:.75em 0 0;
z-index:2
}

.logo-link img {
    margin-top: .25em;
}

.hero {
background-image:url("http://joelps.com/pdb_nrNEW/MOBILE/img/NYC_Skyline2xsm.jpg");
background-position:center;
background-size:cover;
height:28em;
padding:1em 0
}

input[type="submit"] {
height:4em;
width:40%;
margin:1em 0;
border-radius:4px;
color:#fff;
background-color:#337ab7;
border:none
}

input[type="submit"]:focus {
background-color:#194163
}

h1.headline {
font-size:2em;
font-weight:500;
color:#337ab7;
margin:1.5em 0;
letter-spacing:.1em
}

.area > h2,.country h2 {
font-weight:500;
color:#337ab7
}

select {
color:#3e3e3e;
width:70%;
margin:.5em;
padding:10px 0 10px 10px;
border:.5px solid #cecece;
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#337ab7'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
background-size:10px;
background-position:calc(100% - 20px) center;
background-repeat:no-repeat;
background-color:#fff;
-webkit-box-shadow:10px 10px 22px -19px rgba(140,140,140,0.75);
-moz-box-shadow:10px 10px 22px -19px rgba(140,140,140,0.75);
box-shadow:10px 10px 22px -19px rgba(140,140,140,0.75)
}

.hero-form select {
font-size:1.25em
}

.hero-form h3,.country h3 {
margin:.5em;
font-weight:300
}

h4 {
text-align:left;
padding-left:2em;
margin-bottom:0
}

figure {
margin:0;
height:20em;
overflow:hidden
}

figcaption.vert-caption {
margin-top:0;
padding:1.5em;
line-height:1.75em;
color:#fff;
height:9em;
text-align:left
}

figcaption.horz-caption {
margin-left:-4em;
padding:1.75em 1.75em 1.75em 3.75em;
line-height:1.75em;
color:#fff;
height:14em;
width:34.5%;
float:right;
text-align:left
}

figcaption.color-1 {
background-color:#2E4057
}

figcaption.color-2 {
background-color:#99C24D
}

figcaption.color-3 {
background-color:#5C415D
}

.fig-image-wrapper {
height:8em;
overflow:hidden
}

.fig-image-wrapper > img {
/* height: 100%; */
width:auto
}

.horz-fig-image-wrapper {
width:51%;
display:inline-block;
height:17.5em;
overflow:hidden;
margin-left:-3em
}

.horz-fig-image-wrapper > img {
min-height:100%;
min-width:55em;
margin-left:-30em;
overflow:hidden
}

.japan-button {
background-image:url("http://joelps.com/pdb_nrNEW/MOBILE/img/img-japan.jpg");
background-position:center;
background-size:cover
}

.singapore-button {
background-image:url("http://joelps.com/pdb_nrNEW/MOBILE/img/img-singapore.jpg");
background-position:center;
background-size:cover
}

.usa-button {
background-image:url("http://joelps.com/pdb_nrNEW/MOBILE/img/img-usa.jpg");
background-position:center;
background-size:cover
}

.new-zealand-button {
background-image:url("http://joelps.com/pdb_nrNEW/MOBILE/img/img-newzealand.jpg");
background-position:center;
background-size:cover
}

.cambodia-button {
background-image:url("http://joelps.com/pdb_nrNEW/MOBILE/img/img-cambodia.jpg");
background-position:center;
background-size:cover
}

.france-button {
background-image:url("http://joelps.com/pdb_nrNEW/MOBILE/img/img-france.jpg");
background-position:center;
background-size:cover
}


h3.white {
text-align:center;
/* font-size: .85em; */
font-weight:200;
text-shadow:-1px 2px 1px #313131;
margin-bottom:0
}

h3.blue {
color:#337ab7
}

p.white {
text-align:center;
/* font-size: .5em; */
font-weight:200;
text-shadow:-1px 2px 1px #313131
}

.header-group {
border-top:2px solid #337ab7;
border-bottom:2px solid #337ab7;
margin:.5em 0 .25em
}

.country h2 {
margin:0 auto
}

.white {
color:#fff
}

.span_1_of_3 {
width:32.66%
}

[class^="icon-"],[class*=" icon-"] {
speak:none;
font-style:normal;
font-weight:400;
font-variant:normal;
text-transform:none;
line-height:1;
/* Better Font Rendering =========== */
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale
}

.icon-menu {
color:#337ab7;
/* position: fixed; */
top:.25em;
right:.25em
}

.sliding--menu__wrapper.slide--right input[type="checkbox"]:checked~label .icon-menu:before {
content:"✕";
color:#fff
}

.icon-menu > i.fa.fa-bars {
    position: fixed;
    right: 1em;
    top: .75em;
}

header {
display:flex
}

.sliding--menu__wrapper {
overflow:hidden;
top:0;
left:0;
margin-right:auto
}

.sliding--menu__wrapper nav {
position:fixed;
width:250px;
height:100%;
-moz-transition:all 200ms ease-in;
-webkit-transition:all 200ms ease-in;
-o-transition:all 200ms ease-in;
transition:all 200ms ease-in;
z-index:2;
top:0;
left:0;
margin:0 0 0 -250px
}

.sliding--menu__wrapper nav ul {
padding:0;
margin:0;
list-style:none;
background:#222;
overflow:hidden;
width:250px;
height:100%
}

.sliding--menu__wrapper nav ul .site--logo {
width:75px;
padding:15px
}

.sliding--menu__wrapper nav a {
color: #337ab7;
display: block;
padding: 15px;
text-decoration: none;
font-size: 1.3em;
line-height: 1.3em;
}

.sliding--menu__wrapper nav a:hover {
background:#337ab7;
color:#fff
}

.sliding--menu__wrapper label {
display:block;
font-weight:700;
width:56px;
height:56px;
line-height:56px;
color:#fff;
text-align:center;
font-size:2em;
position:fixed;
top: 0 !important;
z-index:5;
-moz-transition:all 200ms ease-in;
-webkit-transition:all 200ms ease-in;
-o-transition:all 200ms ease-in;
transition:all 200ms ease-in
}


.sliding--menu__wrapper .obfuscator {
visibility:hidden;
-moz-transition:all 200ms ease-in;
-webkit-transition:all 200ms ease-in;
-o-transition:all 200ms ease-in;
transition:all 200ms ease-in;
position:absolute;
top:0;
left:0;
height:100%;
width:100%;
z-index:4;
transition-duration:.5s
}

.sliding--menu__wrapper input[type="checkbox"] {
display:none
}

.sliding--menu__wrapper input[type="checkbox"]:checked~nav {
margin-left:0
}

.sliding--menu__wrapper input[type="checkbox"]:checked~label {
background:transparent;
left:260px
}

.sliding--menu__wrapper input[type="checkbox"]:checked~.obfuscator {
visibility:visible;
pointer-events:auto;
opacity:.5;
background:#111;
z-index:4;
position:fixed
}

.sliding--menu__wrapper.slide--top {
top:0
}

.sliding--menu__wrapper.slide--top nav {
position:fixed;
-moz-transition:all 200ms ease-in;
-webkit-transition:all 200ms ease-in;
-o-transition:all 200ms ease-in;
transition:all 200ms ease-in;
z-index:2;
width:100%;
height:auto;
left:0;
margin:-250px 0 0
}

.sliding--menu__wrapper.slide--top nav ul {
padding:0;
margin:0;
list-style:none;
background:#222;
overflow:hidden;
display:flex;
width:100%;
height:auto
}

.sliding--menu__wrapper.slide--top input[type="checkbox"]:checked~nav {
margin-top:0
}

.sliding--menu__wrapper.slide--top input[type="checkbox"]:checked~label {
top:260px;
left:auto
}

.sliding--menu__wrapper.slide--right {
top:0;
right:0;
margin-left:auto;
margin-right:56px
}

.sliding--menu__wrapper.slide--right nav {
position:fixed;
width:250px;
height:100%;
-moz-transition:all 100ms ease-in;
-webkit-transition:all 100ms ease-in;
-o-transition:all 100ms ease-in;
transition:all 100ms ease-in;
z-index:5;
top:0;
right:0;
margin:0 -250px 0 0;
margin-left:auto
}

.sliding--menu__wrapper.slide--right nav ul {
padding:0;
margin:0;
color:#337ab7;
list-style:none;
background:#fff;
overflow:scroll;
width:250px;
height:100%;
line-height:.5em
}

a.login-link {
font-size:1.5em!important
}

.nav-item h6 {
padding:1em;
margin:1em 0 0;
color:#333;
font-weight:600;
font-size:1em
}

.sliding--menu__wrapper.slide--right input[type="checkbox"]:checked~nav {
margin-right:0;
margin-left:auto
}

.sliding--menu__wrapper.slide--right input[type="checkbox"]:checked~label {
right:260px;
margin-left:auto
}

.sliding--menu__wrapper.slide--bottom {
bottom:0
}

.sliding--menu__wrapper.slide--bottom label {
bottom:0
}

.sliding--menu__wrapper.slide--bottom nav {
position:fixed;
-moz-transition:all 200ms ease-in;
-webkit-transition:all 200ms ease-in;
-o-transition:all 200ms ease-in;
transition:all 200ms ease-in;
z-index:2;
width:100%;
height:auto;
top:auto;
bottom:0;
margin:0 0 -250px;
}

.sliding--menu__wrapper.slide--bottom nav ul {
padding:0;
margin:0;
list-style:none;
background:#222;
overflow:hidden;
display:flex;
width:100%;
height:auto
}

.sliding--menu__wrapper.slide--bottom input[type="checkbox"]:checked~nav {
margin-bottom:0
}

.sliding--menu__wrapper.slide--bottom input[type="checkbox"]:checked~label {
bottom:260px;
left:auto
}

img.company-hero {
    min-width: 100%;
}

.copy-block {
/* Wrapper class for entire block. */
max-height:120px;
position:relative;
overflow:hidden;
z-index:1
}

.copy-block .fade-away {
/* Class to provide a gradient fade to the call-to-action. */
background:#fff;
background:-moz-linear-gradient(top,rgba(125,185,232,0) 0%,rgba(134,190,234,0) 3%,rgba(255,255,255,0.58) 43%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 97%);
background:-webkit-linear-gradient(top,rgba(125,185,232,0) 0%,rgba(134,190,234,0) 3%,rgba(255,255,255,0.58) 43%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 97%);
background:linear-gradient(to bottom,rgba(125,185,232,0) 0%,rgba(134,190,234,0) 3%,rgba(255,255,255,0.58) 43%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 97%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007db9e8',endColorstr='#ffffff',GradientType=0)
/* IE6-9 */
}

.copy-block .read-more {
position:absolute;
bottom:0;
left:0;
width:100%;
text-align:center;
margin:0;
padding:85px 0 10px
}

.blank-block {
height:300px;
background-color:gray
}

.read-more a {
font-size:1.25em;
text-decoration:none;
color: #337ab7;
}

.read-more a:before {
    content: "";
}

.read-more a:after {
    font-family: FontAwesome;
    content: "\f077";
}

.fade-away a:after {
    content: "";
}

.copy {
height:300px
}

ul.news-list {
list-style-type:none;
padding:.75em;
background-color:#FAF9F9;
margin:0
}

li.news-item {
background-color:#FAF9F9;
text-align:left;
padding:.5em;
border-bottom:1px dashed #dedede
}

.news-item:last-child {
border-bottom:0!important
}

p.snippet {
margin:.3em .3em .3em 0
}

span.whats-new {
color:#337ab7;
padding-right:.5em
}

.news-header {
}

h3.section-header {
font-weight:200;
color:#337ab7;
text-align:left;
padding:1em 0 0 1em
}

h4 a.section-link {
font-weight:200;
color:#337ab7;
padding:.5em 1em .5em .5em;
}

.section-link-wrapper {
padding:0;
text-align: right;
}

li.blog-item {
list-style-type:none;
margin:.75em;
height:auto;
padding-bottom:.5em;
border-bottom:1px solid #e0e0e0
}

img.thumb {
width:35%;
display:inline-block;
float:left
}

ul.blog-list {
padding-left:0;
text-align:left
}

.blog-brief {
display:inline-block;
margin-left:1em;
width:60%
}

p.date-stamp,p.blog-title,p.blog-snippet {
margin-top:0;
margin-bottom:.2em
}

p.blog-title {
color:#337ab7
}

footer {
background-color:#F5F9FC;
height:8em;
padding-top:1em;
margin-top: 2em;
}

p.copyright {
text-align:center !important;
color:#337ab7
}

.lang-select-wrap {
text-align:center
}

.lang-select-wrap select {
width:12em;
font-size:1.5em
}

div.site-wrap {
position:static
}

header > .sliding--menu__wrapper > input[type="checkbox"] + .site-wrap {
position:static
}

header > .sliding--menu__wrapper > input[type="checkbox"]:checked + .site-wrap {
visibility:visible;
pointer-events:auto;
opacity:.5;
background:blue;
z-index:4;
position:fixed;
overflow:hidden
}

.company-h2 {
font-size:1.75em;
/* margin-bottom: 3em; */
font-weight: 200;
color: #4a4a4a;
}

.company-h2:not(:first-child){
  margin-top: 3em;
}

a.about-a {
  text-decoration: none;
  color: #337ab7;
  text-align: center;
}

 h3.about-h3 {
   text-align: left;
   font-weight: 100;
   color: #4a4a4a; 
   margin-left: 2em;
}

.company-h5 {
color:#337ab7;
font-size:1.25em;
font-weight:500
}

.company-p {
text-align:left;
padding:0 2em;
color:#4a4a4a;
line-height:1.75em;
}

.address-p {
font-size:1em;
text-align:left;
line-height:1.75em;
padding-left:2em
}

input.btn.button.button-narrow.inline-block {
background-color:#337ab7;
color:#fff;
width:8em
}